%dl
  %dt.required= label "Title", :id => "page_title"
  %dd.major= text_field :title, :maxlength => 64, :size => 50
  %dt.required
    = label "Body", :id => "page_body"
    .hint Using HTML for markup is allowed.
  %dd~ text_area :body, :class => "content_body"