- title "Pages"
- menu :pages

.actions
  %h2 
    pages
    %small== (#{link_to "new", url(:new_admin_page)})
  %ul= partial :page, :with => @pages

%script{:type => "text/javascript"}= partial "admin/shared/toggle", :format => :js