= prepare(article)

.details
  == #{article.comments.count} #{link_to_content(article, (article.comments.count == 1) ? 'comment' : 'comments', :anchor => "comments")}
  - if article.category_id
    == - filed under #{link_to article.category.title.downcase, url(:category, article.category)}