= prepare(article)

.details
  == #{article.comments.count} #{link_to_content(article, (article.comments.count == 1) ? 'comment' : 'comments', :anchor => "comments")}
  - if article.categories.count > 0
    \- filed under:
    = article.categories.collect { |c| link_to(c.title.downcase, url(:category, c)) }.join(", ")
