- title "Archive"

%h1 Archive

%h2 Browse by category
%ul
  - Category.all(:order => [:title]).each do |category|
    %li= category

%h2 Browse by date
%ul
  - Time.now.year.downto(Article.min(:published_at).strftime('%Y').to_i) do |year|
    %li= link_to year, "/#{year}"