- title "Blog"
- feed url(:articles, :format => :atom)

= partial :article, :with => @articles.shift

- throw_content :for_sub do
  %h1 Recent Articles
  - @articles.group_by { |article| article.published_at.strftime('%Y-%m') }.sort.reverse.each do |month, articles|
    %h2= Time.parse(month).strftime('%B %Y')
    %ul.articles= partial :list, :with => articles