- title @article

= partial :article, :with => @article

- throw_content :for_sub do
  %h1
    %a{:name => "comments"} Comments
  %ol
    = partial "comments/comment", :with => @article.comments
    - if @article.comments_allowed?
      %li= partial "comments/form", :comment => Comment.prepare(@article)