/* UNIVERSAL RESET
 * ========================================================================= */
* {
	margin: 0;
	padding: 0;
}

/* BODY
 * ========================================================================= */
body {
	background: #fff;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .8em;
}

/* LINKS
 * ========================================================================= */
a, a:link, a:visited {
	border-bottom: 1px solid #E89399;
	color: #2E4F72;
	text-decoration: none;
}

a:active, a:hover {
	border-color: #d00;
	color: #d00;
}

a img, a.img-link {
	border: none;
}

a[name] {
	color: #000;
}

/* STRUCTURE
 * ========================================================================= */
div.section {
	background: #fff;
}

div.content, div.navigation {
	float: left;
}

br.clear {
	clear: both;
}

/* Navigation
 * ------------------------------------------------------------------------- */
div.navigation {
	margin-bottom: 3em;
	margin-left: 1em;
	text-align: center;
	width: 15em;
}

div.navigation h1 {
	font-weight: bold;
}

div.navigation p {
	margin-top: 0;
	margin-bottom: 1.5em;
	padding: 0 1.5em;
}

div.navigation ul {
	list-style: none;
	margin: 0;
}

div.navigation ul li {
	padding: .7em;
}

div.navigation ul li a {
	font-size: 1.2em;
	line-height: 1.25;
}

/* Sections
 * ------------------------------------------------------------------------- */
div.section-content {
	margin: 0 auto;
	width: 58em;
}

/* Main
 * ------------------------------------------------------------------------- */
div.section.main {
	background: #fff url(/images/admin/bg-body.png) repeat-x top left;
}

/* Sub
 * ------------------------------------------------------------------------- */
div.section.sub {
	background: #eee url(/images/bg-sub.png) repeat-x bottom left;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0 0;
}

div.section.sub div.author {
	margin-top: 1.5em;
}

div.section.sub p {
	margin-top: 1.5em;
	text-indent: 0;
}

/* Footer
 * ------------------------------------------------------------------------- */
.footer {
	background-image: url(/images/bg-footer.png);
	background-position: top left;
	background-repeat: repeat-x;
	border-color: #666;
	border-style: solid;
	border-width: 1px 0 0 0;
}

.footer a {
	color: #444;
}

/* Content
 * ------------------------------------------------------------------------- */
div.content {
	padding: 0 4.5em 3em 4.5em;
	width: 33em;
}

div.details {
	margin-top: 1.5em;
}

div.content img {
	margin: 1.8em 0 0.225em 0;
}

div.content .date {
	font-style: italic;
}

/* Correction for margin-top when img is right after a heading. */
div.content h1 + img, 
div.content h2 + img, 
div.content h3 + img, 
div.content h4 + img, 
div.content h5 + img, 
div.content h6 + img {
	margin-top: 1em;
}

/* center: Centers an image */
div.content img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* inline-left: Displays an image inline with the text, floating the text around the image */
div.content img.inline-left, div.content img.pushed-left {
	float: left;
	margin-right: 1.5em; /* p.line-height * p.font-size */
}

/* pushed-left: Sticks an image to the left margin of the content box, text floats around the image */
div.content img.pushed-left {
	/* img.pushed-left.margin-left = p.line-height * p.font-size * 3 */
	margin-left: -4.5em;
}

/* inline-right: Displays an image inline with the text, floating the text around the image */
div.content img.inline-right, div.content img.pushed-right {
	float: right;
	margin-left: 1.5em; /* p.line-height * p.font-size */
}

/* pushed-right: Sticks an image to the right margin of the content box, text floats around the image */
div.content img.pushed-right {
	/* img.pushed-right.margin-right = p.line-height * p.font-size * 3 */
	margin-right: -4.5em;
}

div.content img.full-width {
	width: 33em;
}

div.content img.extra-width {
	margin-left: -4.5em;
	width: 42em;
}

div.content img.header {
	margin-top: 0;
}

/* FORMS
 * ========================================================================= */
form textarea, form input {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	width: 29em;
}

form .button {
	margin-top: 1.5em;
	width: auto;
}

form .hint {
	color: #555;
	font-size: .8em;
	font-style: italic;
}

form textarea {
	height: 15em;
}

form dl dt {
	margin-top: 1.5em;
	margin-bottom: .2em;
}

form label {
	line-height: 1.5;
}

form.comment h2 input[type=text] {
	width: 24em;
}

/* ARTICLES
 * ========================================================================= */
ul.articles {
	list-style: none;
	margin-left: 1.5em;
}

ul.articles .day {
	float: left;
	margin-right: .5em;
	width: 1em;
	text-align: right;
}

ul.articles .excerpt {
	font-size: .8em;
	margin-bottom: .5em;
	margin-left: 1.875em;
}

/* CODE LISTINGS
 * ========================================================================= */
.code {
	background: #eee;
	border-color: #999;
	border-style: solid;
	border-width: 1px 0;
	padding: .3em;
}