%dl
  %dt.required= label "Title", :id => "category_title"
  %dd.major= text_field :title, :maxlength => 64, :size => 50
  %dt= label "Description", :id => "category_description"
  %dd= text_field :description, :maxlength => 256, :size => 50
